<nav class='main-nav'>
  <ul>
    <li><%= link_to 'Home', root_path, class:'nav-link' %></li>
    <li><%= link_to 'About', home_about_path, class:'nav-link' %></li>
    <li><%= link_to 'Latest', home_latest_path, class:'nav-link' %></li>
    <li><%= link_to 'Oldest', home_oldest_path, class:'nav-link' %></li>
    <li><%= link_to 'Contact', home_contact_path, class:'nav-link' %></li>
  </ul>
</nav>