<!DOCTYPE html>
<html>
  <head>
    <title>Colby's Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= render 'layouts/fonts' %>
  </head>
  <div class='screen-wrapper'>
    <%= render 'header/header' %>
    <body>
      <div class='content-wrapper'>
        <%= yield %>
      </div>
    </body>
    <%= render 'footer/footer' %>
  </div>
</html>
